.product {
  border: solid 1px #ddd;
  padding: 5px;
  height: 300px;
  overflow: hidden; }
  .product .th {
    height: 120px;
    margin: 0 auto; }

.zone-display,
.zone-control {
  height: 600px;
  overflow-y: auto; }

.zone-display {
  height: 300px; }

#product-table .selected {
  background: #33a6b8; }

.vcard {
  width: 150px;
  height: 200px;
  overflow: hidden; }
  .vcard .rim {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto; }
    .vcard .rim img {
      height: 100px; }

td {
  cursor: pointer; }
