<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <title>demo | Uncle B.</title>
    <meta charset="utf-8">
    <script src="js/vendor/custom.modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="js/sortable.js"></script>
    <!-- script(src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.min.js")-->
    <script src="js/controllers.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(function(){
        $(document).foundation();
      })
    </script>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Uncle B</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span> </span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="divider"></li>
          <li class="active"><a href="#">Demo</a></li>
        </ul>
      </section>
    </nav>
    <div class="row">
      <div class="large-12 columns">
        <div data-section data-options="deep_linking: true" class="section-container auto">
          <section ng-controller="ProductController">
            <p data-section-title class="title"><a href="#product">產品資訊</a></p>
            <div data-section-content data-slug="product" class="content">
              <div class="zone-display"><span class="label">前台</span>
                <hr>
                <div ng-repeat="p in products" class="vcard"> 
                  <div class="rim"><img ng-src="{{p.imageUrl}}"></div>
                  <h6>{{p.name}}</h6>
                  <p>{{p.price}}</p>
                </div>
              </div>
              <div class="zone-control"><span class="label">後台</span>
                <hr>
                <div class="row">
                  <div class="large-4 columns">
                    <table id="product-table">
                      <thead>
                        <tr>
                          <th>品名</th>
                          <th>價格</th>
                          <th>材質</th>
                          <th>刪除</th>
                        </tr>
                      </thead>
                      <tbody ui-sortable ng-model="products">
                        <tr ng-class="getClass($index)" ng-repeat="p in products" ng-click="toggleSelect(p, $index)" class="ui-state-default">
                          <td>{{p.name}}</td>
                          <td>{{p.price}}</td>
                          <td>{{p.material}}</td>
                          <td ng-click="deleteProduct($index)">x</td>
                        </tr>
                      </tbody>
                    </table>
                    <button ng-click="newPorduct()">新增一筆產品</button>
                  </div>
                  <div class="large-6 columns">
                    <form ng-show="target">
                      <div class="row">
                        <div class="small-8">
                          <div class="row">
                            <div class="small-9 small-offset-3 columns"><img ng-src="{{target.imageUrl}}"></div>
                          </div>
                          <div class="row">
                            <div class="small-3 columns">
                              <label class="right inline">品名</label>
                            </div>
                            <div class="small-9 columns">
                              <input ng-model="target.name" type="text" value="{{name}}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-3 columns">
                              <label class="right inline">價格</label>
                            </div>
                            <div class="small-9 columns">
                              <input ng-model="target.price" type="text" value="{{price}}">
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-3 columns">
                              <label class="right inline">材質</label>
                            </div>
                            <div class="small-9 columns">
                              <select ng-model="target.material" ng-options="m as m for m in materialList"></select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-9 small-offset-3 columns"></div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <p data-section-title class="title"><a href="#panel2">Section 2</a></p>
            <div data-section-content data-slug="panel2" class="content">
              <p>Content of section 2.</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>