!!! 5
html(ng-app="myapp")
  head
    title demo | Uncle B.
    meta(charset="utf-8")
    script(src="js/vendor/custom.modernizr.js")
    
    script(src="js/vendor/jquery.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
    script(src="js/sortable.js")
    // script(src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.min.js")
    script(src="js/controllers.js")
    script(src="js/foundation.min.js")
    script
      $(function(){
        $(document).foundation();
      })
    link(rel="stylesheet", href="css/foundation.css")
    link(rel="stylesheet", href="css/demo.css")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
  body
    nav.top-bar
      ul.title-area
        li.name
          h1
            a(href="#") Uncle B
        li.toggle-topbar.menu-icon
          a(href="#")
            span 
      section.top-bar-section
        ul.left
          li.divider
          li.active
            a(href="#") Demo
    .row
      .large-12.columns
        .section-container.auto(data-section, data-options="deep_linking: true")
          section(ng-controller="ProductController")
            p.title(data-section-title)
              a(href="#product") 產品資訊
            .content(data-section-content, data-slug="product")
              .zone-display
                span.label 前台
                hr
                .vcard(ng-repeat="p in products") 
                  .rim
                    img(ng-src="{{p.imageUrl}}")
                  h6 {{p.name}}
                  p {{p.price}}
              .zone-control
                span.label 後台
                hr
                .row
                  .large-4.columns
                    table#product-table
                      thead
                        tr
                          th 品名
                          th 價格
                          th 材質
                          th 刪除
                      tbody(ui-sortable, ng-model="products")
                        tr.ui-state-default(ng-class="getClass($index)", ng-repeat="p in products", ng-click="toggleSelect(p, $index)")
                          td {{p.name}}
                          td {{p.price}}
                          td {{p.material}}
                          td(ng-click="deleteProduct($index)") x
                    button(ng-click="newPorduct()") 新增一筆產品
                  .large-6.columns
                    form(ng-show="target")
                      .row
                        .small-8
                          .row
                            .small-9.small-offset-3.columns
                              img(ng-src="{{target.imageUrl}}")
                          .row
                            .small-3.columns
                              label.right.inline 品名
                            .small-9.columns
                              input(ng-model="target.name", type="text", value="{{name}}")
                          .row
                            .small-3.columns
                              label.right.inline 價格
                            .small-9.columns
                              input(ng-model="target.price", type="text", value="{{price}}") 
                          .row
                            .small-3.columns
                              label.right.inline 材質
                            .small-9.columns
                              select(ng-model="target.material", ng-options="m as m for m in materialList")
                          .row
                            .small-9.small-offset-3.columns



                

          //- section(ng-controller="controller")
          //-   p.title(data-section-title)
          //-     a(href="#product") 產品資訊
          //-   ul#sortable.content(ui:sortable, ng-model="products", data-section-content, data-slug="product")
          //-     li.ui-state-default.product(ng-repeat="product in products")
          //-       img.th(ng-src="{{product.imageUrl}}")
          //-       h5 {{product.name}}
          //-       h5.subheader {{product.price}}
          //-   ul
          //-     li(ng-repeat="product in products") {{product.name}}
          section
            p.title(data-section-title)
              a(href="#panel2") Section 2
            .content(data-section-content, data-slug="panel2")
              p Content of section 2.

