$uncleb_theme: #33a6b8;

.product {
  border: solid 1px #ddd;
  padding: 5px;
  height: 300px;
  overflow: hidden;
  .th {
    height: 120px;
    margin: 0 auto;
  }
}

.zone-display,
.zone-control{
  height: 600px;
  overflow-y: auto;
}

.zone-display {
  height: 300px;
}

#product-table {
  .selected {
    background: $uncleb_theme;
  }
}

.vcard {
  width: 150px;
  height: 200px;
  overflow: hidden;
  .rim {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    img {
      height: 100px;
    }
  }
}

td {
  cursor: pointer;
}



